.clock{
    margin: 0 auto;
    margin-bottom: 4rem;
    margin-top: 4rem;
    padding: 2rem;
    
    border-radius: 2rem;

    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 1rem;

    width: min-content;

    box-shadow:
    -2px -2px 4px rgba(255, 255, 255, 0.842),
    2px 2px 4px rgba(0, 0, 0, 0.116);
}
.break{
}
.session{

}
.timer{

}
.buttons{
    grid-column: 1/4;
    grid-row: 2;
}