.break{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3,auto);
}
.name{
    width: min-content;
    grid-row: 1/4;
    grid-column: 1;
    padding-right: 0.5rem;
}
.button{
    margin: 0.4rem;
    border: 1px solid black;
    border-radius: 50%;

    width: 2rem;
    height: 2rem;

    font-weight: bold;
}
.name, .button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.plus, .minus{
    font-weight: 1500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.plus:active, .minus:active{
    background-color: black;
    color: white;
}
.plus:hover, .minus:hover{
    transform: scale(1.2);
    transition: 200ms transform ease-out;
}